<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.gdoeppert.sky"

    android:installLocation="auto" android:versionName="3.11" android:versionCode="41">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <supports-screens
        android:normalScreens="true"
        android:smallScreens="false"
        android:largeScreens="true"
        android:anyDensity="true"
        android:resizeable="true"
        android:xlargeScreens="true"></supports-screens>
    <uses-feature
        android:required="true"
        android:glEsVersion="0x00010001" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:enabled="true"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:description="@string/infoshort">
        <activity
            android:name="de.gdoeppert.sky.gui.SkyActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="sensor"
            android:description="@string/infoshort"
            android:configChanges="orientation"
            android:hardwareAccelerated="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>